body{
  overflow-x: hidden;

}
.nasa_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  height:10vh ;
}

.name span{
  font-size:10px;
  color: white;
}
.spotlight{
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_item{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap: 5%;
  width: 90vw;
  overflow-x: scroll;
  margin-bottom: 10%;
}
.section{
  padding: 5%;
}