body{
  overflow-x: hidden;
  background-color: rgba(95, 94, 94, 0.725);
}
.nasa_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  height:10vh ;
}

.name span{
  font-size:10px;
  color: white;
}
.spotlight{
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_item{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap: 5%;
  width: 90vw;
  overflow-x: scroll;
  margin: 10% 0;
}
.section{
  padding: 5%;
  background-color: rgb(177, 173, 173);
  height: 100vh;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(52, 52, 52); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 46, 46); 
}
.card{
  background-color: "black";
  color: "white";
}